* {
    margin: 0 0 0 0;
    font-family: 'Titillium Web', sans-serif;
}

.Autorise {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 420px;
    height: 500px;
    background: #F2F2F7;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.Field {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    width: 358px;
    height: 100px;
    flex: none;
    margin-top: 25px;
}
.Field h2 {
    color: #8C8C8C;
}
.Field p {
    color: #8C8C8C;
}
.Field input {
    width: 358px;
    height: 44px;
    background: #FFFFFF;
    border-bottom: 1px solid #D1D0CE;
}
.Field input[type=text]:focus {
    border: 3px solid #8C8C8C;
    outline: none;
}
#LogIn {
    color: #8C8C8C;
    height: 40px;
    width: 80px;
}
#SignIn {
    color: #8C8C8C;
    height: 40px;
    width: 80px;
}
.FormAutorise button{
    margin-top: 5px;
    margin-left: 10px;
    background-color: #F2F2F7;
}
#Btn {
    position: relative;
    top: 120px;
    width: 358px;
    height: 44px;
    background: #FFFFFF;
    border-bottom: 1px solid #D1D0CE;
    margin-left: 33px;
    margin-right: auto;
    color: #8C8C8C;
    background-color: #ffffff;
    border: 1px solid #8C8C8C;
}